<div
  #appointmentDiv
  class="appointments"
  *ngFor="let appointment of appointments; let i = index"
>
  <span class="badge">{{ i + 1 }}. </span>
  <span class="description">{{ appointment.description }} </span>
  <span class="date">{{ appointment.startTime | date : "yyyy.MM.dd" }} </span>
  <span class="duration">{{ appointment.duration }} minutes </span>
  <span class="price">{{ appointment.price }} Ft </span>

  <button
    class="delete"
    type="button"
    (click)="addBooking(appointment, 'username1')"
    type="button"
    class="btn btn-primary"
  >
    Book for username1
  </button>
</div>

<div class="container">
  <button type="button" class="btnbtn-primary" (click)="addNewAppointment()">
    Add new appointment
  </button>
  <form (ngSubmit)="onSubmit()" #appointmentForm="ngForm" *ngIf="appointment">
    <div class="form-group">
      <label for="name">Username</label
      ><input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="appointment.provider"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label
      ><input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="appointment.description"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="date">Date</label
      ><input
        type="datetime-local"
        class="form-control"
        id="date"
        [(ngModel)]="appointment.startTime"
        name="date"
      />
    </div>
    <div class="form-group">
      <label for="duration">Duration</label
      ><input
        type="number"
        class="form-control"
        id="duration"
        [(ngModel)]="appointment.duration"
        name="duration"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label
      ><input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="appointment.price"
        name="price"
      />
    </div>
    <button
      type="submit"
      class="btnbtn-success"
      [disabled]="!appointmentForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>
